@{
    Layout = "_Layout";
}

<div id="home-page" class="fade-in">
    <!-- Loading state -->
    <div class="loading-spinner" id="home-loading">
        <div class="spinner"></div>
    </div>
</div>
